:root {
  --primary-color: #1b1f24;
  --hover-color: rgb(38, 143, 185, .2);
  --selection-color: rgb(38, 143, 185);
}
.menu {
  background-color: var(--primary-color);
  width: 220px;
 
  z-index: 100;
}

.option i {
  width: 18px;
}

.option {
  color: white;
}

.option {
  z-index: 100;
  cursor: pointer;
}
.option:hover {
  background-color: var(--hover-color);
}

.active-option{
  background-color: var(--selection-color);
}
.menu .icon-web {
  height: 100px;
  background-color: white;
  text-align: center;
}
.menu .icon-web img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
